<div>
  <div *ngIf="currentProduct.id" class="edit-form">
    <h4>Product</h4>
    <form>
      <div  class="form-group1">
        <div class="form-group" style="width: 195px;">
          <label for="sku">SKU</label>
          <input
            type="text"
            maxlength="12"
            class="form-control"
            id="sku"
            placeholder="FAL-1000000"
            required
            [(ngModel)]="currentProduct.sku"
            name="sku"
          />
        </div>

        <div class="form-group" style="width: 195px;">
          <label for="description">Name</label>
          <input
            class="form-control"
            id="name"
            minlength="3"
            maxlength="50"
            placeholder="Short description of Produ.."
            required
            [(ngModel)]="currentProduct.name"
            name="name"
          />
        </div>
      </div>
      <br>
      <div  class="form-group1">
        <div class="form-group" style="width: 195px;">
          <label for="title">Brand</label>
          <input
            type="text"
            class="form-control"
            id="brand"
            minlength="3"
            maxlength="50"
            placeholder="Name of Brand"
            required
            [(ngModel)]="currentProduct.brand"
            name="brand"
          />
        </div>

        <div class="form-group" style="width: 195px;">
          <label for="description">Price</label>
          <input
            type="text"
            class="form-control"
            id="price"
            min="1.00"
            max="99999999.00"
            placeholder="Example: 1.00"
            required
            [(ngModel)]="currentProduct.price"
            name="price"
          />
        </div>
      </div>

      <br>
      <div  class="form-group1">
        <div class="form-group" style="width: 195px;">
          <label for="title">Size</label>
          <input
            type="text"
            class="form-control"
            id="size"
            placeholder="Size of the Product"
            required
            [(ngModel)]="currentProduct.size"
            name="size"
          />
        </div>

        <div class="form-group" style="width: 195px;">
          <label for="description">Principal Imagen</label>
          <input
            class="form-control"
            id="principalImagen"
            placeholder="https://hhhh.com"
            required
            [(ngModel)]="currentProduct.principalImagen"
            name="principalImagen"
          />
        </div>
      </div>
    </form>
    <br>

    <fieldset>
      <button class="m-3 btn btn-sm btn-danger" (click)="deleteProduct()">
        Delete
      </button>
  
      <button class="m-3 btn btn-sm btn-success" (click)="updateProduct()">
        Update
      </button>
      <p>{{ message }}</p>
    </fieldset>


  <div *ngIf="!currentProduct.id">
    <br />
    <p>Cannot access this Product...</p>
  </div>
</div>
